<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!--  SOLR CONNECTION TIMEOUT
            The timeout interval for the Solr server connection in milliseconds.
            A value of -1 (minus one) means that the default SolrNet timeout interval is used.
            Default value: -1
      -->
      <setting name="ContentSearch.Solr.ConnectionTimeout" value="-1" />      
    </settings>
  </sitecore>
</configuration>