<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Support.ContentSearch.SolrProvider.Pipelines.Initialize.SolrWindsorInitializer, Sitecore.Support.405677"/>
      </initialize>
    </pipelines>
    <settings>
      <!--  SOLR CONNECTION TIMEOUT
            Specifies Solr connection timeout in milliseconds.
            Default value: 60000 ms.
      -->
      <setting name="ContentSearch.Solr.ConnectionTimeout" value="60000" />
      <!--  SOLR INDEX CONSTRACTOR PARAMETERS QUERY
            Specifies XPath query to get index collection and rebuildcollection parameters for DI container initialization.
      -->
      <setting name="ContentSearch.Solr.IndexConstractorParameters.Query" value="contentSearch/configuration/indexes/index/param[@desc='collection' or @desc='rebuildcollection']" />
    </settings>
  </sitecore>
</configuration>