<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor patch:before="*[@type='Sitecore.Pipelines.Loader.InitializeScheduler, Sitecore.Kernel']" type="Sitecore.Support.ContentSearch.SolrProvider.Pipelines.Initialize.AutofacInitializer, Sitecore.Support.405677"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>