<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <!--Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="SIM Sitecore NuGet" value="C:\ProgramData\Sitecore\NuGet" />
  </packageSources>
  <activePackageSource>
    <add key="SIM Sitecore NuGet" value="C:\ProgramData\Sitecore\NuGet" />
  </activePackageSource>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>